*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.index-page,
.inner-page {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  -webkit-font-kerning: none;
          font-kerning: none;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**********HEADER**********/
.content {
  position: relative;
  background-color: #ffffff;
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.main-nav__wrapper {
  background-color: #ffffff;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88%;
  margin: 0 auto;
  list-style: none;
  color: #000000;
}

.main-nav__item {
  width: 22.70%;
  padding: 14px 0 16px 0;
  text-align: left;
}

.main-nav__item:nth-child(4n+3),
.main-nav__item:nth-child(4n+4) {
  text-align: right;
}

.main-nav__item:nth-child(4n+3) {
  margin-left: auto;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 140px;
  height: 72px;
  cursor: pointer;
  z-index: 1;
}

.main-nav__link {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: #81b3d2;
}

.main-nav__link:active {
  color: #000000;
  opacity: 0.3;
}
/**********MAIN**********/
/**********INTRO**********/
.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 509px;
  padding-top: 76px;
  background: #365167 url("../img/background.jpg") no-repeat 50% 21.4%;
  background-size: cover;
}

.intro-img__title {
  margin-bottom: 21px;
}

.intro::after {
  content: "";
  position: absolute;
  height: 59px;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent url("../img/polygon.png") no-repeat 0% 50%;
  background-size: 100% 59px;
}
/**********INTRO-COMPONENT**********/
.intro-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 215px;
}

.intro__title {
  width: 450px;
  margin: 58px 0 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.intro__lead {
  margin-bottom: 20px;
}
/**********ADVANTAGES**********/
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  min-height: 256px;
}

.advantages__item:nth-child(2) {
  min-height: 330px;
}

.advantages__item:nth-child(1),
.advantages__item:nth-child(3) {
  background: #81b3d2;
  color: #ffffff;
}

.advantages__item:last-child {
  background: #eeeeee;
}

.advantages__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 47px 4% 0;
  width: 33.334%;
}

.advantages__img {
  position: relative;
  width: 66.667%;
}

.advantages__img--size {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.advantages__title {
  width: 151px;
  margin: 0 auto 23px;
  font-size: 21px;
  color: #000000;
}

.advantages__title--color {
  color: #ffffff;
}

.advantages__number {
  margin-bottom: 21px;
}

.advantages__about {
  margin-bottom: 20px;
}

.hints__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 56px 45px 0;
}

.hints__information::before {
  display: block;
  content: "";
  width: 75px;
  height: 76px;
  margin: 0 auto;
  margin-bottom: 29px;
}

.hints__information--home::before {
  background: url("../img/icon-1.svg") 0px 4px no-repeat;
}

.advantages__item--food::before {
  background: url("../img/icon-3.svg") 1px 5px no-repeat;
}

.advantages__item--souvenirs::before {
  background: url("../img/icon-2.svg") 6px 0px no-repeat;
}
/**********SEARCH-HOTEL**********/
.search-hotel {
  height: 291px;
  position: relative;
}

.search-hotel__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding-top: 49px;
}

.search-hotel__lead {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 25px;
  color: #000000;
}

.search-hotel__text {
  line-height: 24px;
}

.search-hotel__btn {
  display: block;
  width: 568px;
  height: 86px;
  background: #766357;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 29px;
  margin-top: 47px;
  z-index: 200;
}

.search-hotel__btn:hover,
.search-hotel__btn:focus {
  background: #604e43;
}

.search-hotel__btn:active {
  background: #503e33;
  color: rgba(255,255,255,.3);
}
/**********SEARCH-HOTEL__POPUP-FORM**********/
.popup__search {
  position: absolute;
  width: 568px;
  height: 395px;
  left: 50%;
  margin-left: -284px;
  padding: 55px;
  z-index: 1;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0,1,1,.15);
          box-shadow: 0 7px 15px 0 rgba(0,1,1,.15);
  -webkit-transform: scale(1,0);
      -ms-transform: scale(1,0);
          transform: scale(1,0);
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.open {
  -webkit-transform: scale(1,1);
      -ms-transform: scale(1,1);
          transform: scale(1,1);
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.form-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 29px;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.form-row:nth-child(2) {
  margin-bottom: 30px;
}

.form-row:nth-child(3) {
  margin-bottom: 54px;
}

.search-hotel__input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  min-width: 346px;
  height: 38px;
  background: #f2f2f2;
  border: 2px solid #f2f2f2;
  padding-left: 11px;
  padding-bottom: 1px;
  padding-right: 38px;
  vertical-align: middle;
  text-transform: uppercase;
}

.search-hotel__input:hover {
  background: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-hotel__input:focus {
  background: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-calendar__icon {
  position: absolute;
  width: 38px;
  height: 38px;
  padding: 8px 9px 8px 8px;
  right: 0;
  top: 0;
  fill: #81B3D2;
}

.persons-num {
  width: calc(458px /2);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.minus,
.plus {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.minus::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  top: 18px;
  left: 14px;
  background-color: #a9a9a9;
}

.plus::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  top: 18px;
  left: 14px;
  background-color: #a9a9a9;
}

.plus::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 11px;
  top: 14px;
  left: 18px;
  background-color: #a9a9a9;
}

.minus:hover::before,
.plus:hover::before,
.plus:hover::after {
  background-color: #000000;
}

.minus:active::before,
.plus:active::before,
.plus:active::after {
  background-color: #81b3d2;
}

.persons-num-input {
  width: 38px;
  height: 38px;
  padding: 8px 0;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.persons-num label[for="persons-num-childs"] {
  padding-left: 50px;
  padding-right: 27px;
}

.persons-num-label {
  width: 112px;
}

.submit-btn {
  width: 100%;
  height: 58px;
  background-color: #81b3d2;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.submit-btn:hover {
  background-color: #669ec0;
}

.submit-btn:active {
  color: rgba(255,255,255,.3);
  background-color: #5496bd;
}

.search-calendar__icon {
  fill: #cacaca;
}

.search-calendar__icon:hover {
  fill: #000000;
}

.search-calendar__icon:focus {
  fill: #81b3d2;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
/**********MAPS**********/
.maps {
  width: 100%;
  height: 593px;
  background: #e2e7d0 url("../img/map.jpg") no-repeat 50% 100%;
}

.maps iframe{
  display: block;
  width: 100%;
  height: 593px;
  border: none;
}
/**********FOOTER**********/
/*********FOOTER-COLUMNS**********/
.main-footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 120px;
  padding: 33px 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,.9);
}

.footer-social__icon-btn {
  width: 100%;
}

.footer-social__hashtag {
  flex-wrap: wrap;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 3px;
}

.footer-social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  list-style: none;
}

.footer-social__icon li {
  margin: 0 3px;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46px;
  height: 48px;
  margin: 3px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active,
.social-btn:active path {
  background-color: #5496bd;
  fill: rgba(255, 255, 255, 0.3);
}

.footer-social__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.copyright-logo {
  margin: 4px 0 0 9px;
}

.copyright-logo:hover path {
  fill: #81b3d2;
}

.copyright-logo:active path {
  fill: #bdbbbc;
}

.footer-social__copyright span {
  margin-bottom: 3px;
}

/**********INNER-PAGE**********/
.inner-page .main-footer {
  position: static;
  margin: 0 auto;
}

.main-nav__item .active {
  color: #766357;
}
/*********SEARCH-HOTELS-FILTER**********/
.search-hotels-filter {
  color: #ffffff;
  background: #647d93 url("../img/filter-background.jpg") no-repeat 0 50%;
  background-size: cover;
  min-height: 217px;
  padding-top: 26px;
}

.hotels-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.hotels-filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 21.19%;
  min-width: 238px;
  padding-left: 6%;
  list-style: none;
}

.hotels-filter__price {
  width: 32.4166666667%;
  padding-right: 6%;
  margin-left: auto;
  min-width: 268px;
  text-align: center;
}

.filter-title {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 25px;
}

.filter-title__price {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 11px;
  text-align: left;
}

.checkbox-filter:focus + .search-form-checkbox {
  outline: 3px solid #81b3d2;
}

button:focus {
  outline: none;
  box-shadow:
    0 0 0 3px #fff,
    0 0 0 6px #2f7cc0;
}

.checkbox-filter:checked + label::before {
  content: "";
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 23px;
  margin-right: 13px;
}

.checkbox-filter + label::before {
  content: "";
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 23px;
  margin-right: 13px;
  background-color: transparent;
}

.checkbox-filter[disabled] + label:before {
  content: "";
  background-image: url(../img/checkbox-off-disabled.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 23px;
  margin-right: 13px;
}

.checkbox-filter:checked[disabled] + label:before {
  content: "";
  background-image: url(../img/checkbox-on-disabled.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 23px;
  margin-right: 13px;
}

.hotels-filter__infrastucture,
.hotels-filter__type-housing {
  list-style: none;
}

.hotels-filter__type-housing {
  padding-left: 2px;
}

.search-form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
}

.search-form-checkbox:nth-child(2) {
  margin-bottom: 23px;
}

.price-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls label {
  position: relative;
  width: 50%;
}

.price-controls label:nth-child(2)::before {
  content: "";
  position: absolute;
  display: block;
  top: -1px;
  left: 0;
  width: 2px;
  height: 22px;
  background-color: #fff;
}

.min-price__input {
  width: 10px;
  color: #ffffff;
}

.max-price__input {
  width: 30px;
  color: #ffffff;
}

.filters__price-range {
  position: relative;
  padding: 20px 0;
}

.filters__price-scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.filters__price-scale-value {
  width: 80%;
  height: 100%;
  background-color: #fff;
}

.filters__price-control {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 8px solid #fff;
  background-color: #ababab;
  border-radius: 50%;
  text-indent: -1000px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
          box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.filters__price-control:hover {
  left: -1px;
  width: 22px;
  height: 22px;
  border-width: 9px;
}

.filters__price-control--max {
  margin-left: 80%;
}

.submit-filter-btn {
  margin: 12px 11px 0 0;
  padding: 3px 34px;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 2px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.submit-filter-btn:hover {
  color: #000000;
  background-color: #ffffff;
}
/*********HOTELS__SORT**********/
.hotels__sort {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  min-height: 87px;
  padding: 29px 6% 0;
  border-bottom: 1px solid #e5e5e5;
}

.hotels__sort-title {
  flex-flow: row wrap;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-right: 47px;
}

.hotels__sort-list {
  display: flex;
  flex-wrap: wrap;
  padding-right: 100px;
  width: 850px;
  margin-top: 6px;

  list-style: none;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.hotels__sort-list-title {
  margin-right: 40px;
}

.hotels__sort-item + .hotels__sort-item {
  margin-left: 33px;
  margin-bottom: 20px;
}

.hotels__sort-link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.hotels__sort-link--active {
  color: #81b3d2;
  border-color: transparent;
  pointer-events: none;
}

.hotels__sort-link:hover,
.hotels__sort-link:focus {
  color: #81b3d2;
}

.hotels__sort-link:active {
  color: #000000;
  border-color: transparent;
}

.hotels__updown-sort-list {
  display: flex;
  margin-top: 10px;
  margin-right: 1px;
  margin-left: auto;
  list-style: none;
}

.hotels__updown-sort-item + .hotels__updown-sort-item {
  margin-left: 12px;
}

.hotels__updown-sort-link {
  display: block;
  width: 11px;
  height: 11px;
  border-width: 10px 5.5px;
  border-color: #cacaca;
  border-style: solid;
  text-indent: -1000px;
  overflow: hidden;
}

.hotels__updown-sort-link:hover,
.hotels__updown-sort-link:focus {
  border-color: #000;
}

.hotels__updown-sort-link:active {
  border-color: #81b3d2;
}

.hotels__updown-sort-link--active {
  border-color: #81b3d2;
  pointer-events: none;
}

.hotels__updown-sort-link.hotels__updown-sort-link--up {
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.hotels__updown-sort-link.hotels__updown-sort-link--down {
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
/*********SEARCH__RESULTS**********/
.hotels__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 25px 6% 30px;
  border-bottom: 1px solid #e5e5e5;
}

.hotels__item-photo {
  padding-top: 5px;
  margin-right: 30px;
}

.hotels__item-photo img {
  display: block;
  width: 135px;
  height: 90px;
}

.hotels__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 7px;
}

.hotels__item-type {
  min-width: 110px;
  margin-right: 6px;
}

.hotels__item-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 14px;
}

.hotels__more-info {
  margin-right: 5px;
}

.hotels__item-name {
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.hotels__item-name:hover,
.hotels__item-name:focus {
  color: #81b3d2;
}

.hotels__item-name:active {
  color: rgba(0, 0 ,0, 0.3);
}

.hotels__item-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

.hotels__item-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 4px;
  width: 114px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.star {
  width: 18px;
  height: 17px;
  text-indent: -1000px;
  overflow: hidden;
  background: url(../img/star.svg) no-repeat top left;
  background-size: 18px 17px;
}

.star + .star {
  margin-left: 5px;
}

.rating {
  display: inline-block;
  vertical-align: top;
  padding: 3px 14px 3px;
  min-width: 110px;
  background-color: #f2f2f2;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn {
  padding: 3px 17px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
}

.btn.btn--action {
  background-color: #766357;
}

.btn.btn--action:focus, .btn.btn--action:hover {
  background-color: #604e43;
}

.btn.btn--action:active {
  background-color: #503e33;
}

.btn:focus, .btn:hover {
  background-color: #669ec0;
}

.btn:active {
  color: rgba(255,255,255,.3);
  background-color: #5496bd;
}
